<html>
<head>
    <title>Vista Principal</title>
</head>
<body>
    <h1>Vista Principal</h1>
    <button onclick="window.location.href='{% url 'nueva_tarea' %}'">Nueva Tarea</button>
    <button id="mostrarTabla">Ver histórico</button>

    <h2>Tareas</h2>
    <table border="1" id="tablaTareas" style="display: none;">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Fecha Fin</th>
            <th>Estado</th>
            <th>Responsable</th>
        </tr>
        {% for tarea in tareas %}
        <tr>
            <td>{{ tarea.nombre }}</td>
            <td>{{ tarea.descripcion }}</td>
            <td>{{ tarea.fecha_fin }}</td>
            <td>{{ tarea.estado }}</td>
            <td>{{ tarea.responsable }}</td>
        </tr>
        {% endfor %}
    </table>
    <script>
        document.getElementById("mostrarTabla").addEventListener("click", function() {
            document.getElementById("tablaTareas").style.display = "block";
        });
    </script>
</body>
</html>

